@{
    ViewData["Title"] = "Gravação";
}

<h1 style="font: medium; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font: 300; text-align: center">Empresa cadastrada com sucesso !</h1>


