@model Empresa

@{
    ViewData["Title"] = "Menu";
}

<h1 style="font: medium; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font: 300">Menu</h1>

<form>
    <div>
        <button style="background-color: #4CAF50;" asp-action="Index">Adicionar Nova Empresa</button>
    </div>
    <hr />
    <div>
        <button style="background-color: #4CAF50;" asp-action="BuscarEmpresas">Buscar Registro</button>
    </div>
</form>

